<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Manager name:</strong>
  <%= @restaurant.manager_name %>
</p>

<p>
  <strong>Street address 1:</strong>
  <%= @restaurant.street_address_1 %>
</p>

<p>
  <strong>Street address 2:</strong>
  <%= @restaurant.street_address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @restaurant.zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @restaurant.neighborhood %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
