<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price) %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @item.menu.meal %>
</p>
<p>
  <%= image_tag @item.avatar.url(:thumb) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Menu category:</strong>
  <%= @item.menu_category %>
</p>

<p>
  <strong>Menu tag:</strong>
  <%= @item.menu_tag %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
