<!DOCTYPE html>
<html>
<head>
  <title>Eato</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar  '>
<div class="container-fluid">
<div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <% if user_signed_in? %>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
<li> <%=link_to "Your Menus", menus_path%></li>
</ul>

    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Edit Account", edit_user_registration_path%></li>
        <li> <%= link_to "Logout", destroy_user_session_path,:method => :delete%></li>
    </ul>
<% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
<li><%= link_to "Restaurants", restaurants_path%></li>
<li><%= link_to "Menus", menus_path%></li>
<li><%= link_to "Food Items", items_path%></li>
</ul>
<ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "Restaurant Login", new_user_session_path%></li>
      </ul>
  <%end%>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
