<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
  <title>Menuapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"%>
  <%= csrf_meta_tags %>
</head>
<body>

 
 	<nav class='navbar navbar-default'>
 		<div class="container-fluid">
   <div class="navbar-header">
     
     <%= link_to "Home", root_path, class: "navbar-brand" %>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">

         <li><%= link_to "Menus", root_path%></li>
         <li><%= link_to "Items", items_path%></li>
        <li><%= link_to "Login", new_user_session_path%></li>
     </ul>
    <% if user_signed_in? %>
     </ul>
       <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Edit Account", edit_user_registration_path%></li>
            <li> <%= link_to "Logout", destroy_user_session_path,:method => :delete%></li>
       </ul>
      <%end%>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>
  
<div class='container'>

<%= yield %>
</div>
</body>
</html>
